* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    position: relative;
}

.que-container {
    width: 67%;
    margin: 10px 50px;
    font-size: 2rem;
    color: white;
    border: 5px solid #028dfd;
    border-radius: 55px;
    padding: 1em;
    text-align: center;

}

.que-container:hover {
    background-color: #012e99;
}

.optionhover:hover {
    background-color: #012e99;
    transition: .2s;
}

.option-container {
    width: 50%;
    margin: 0 9em;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    position: relative;
}

.option {
    width: 270px;
    padding: .6em;
    border-radius: 55px;
    margin: 5px;
    text-align: center;
    color: white;
    /* background-color: #028dfd; */
    background-color: transparent;
    border: 2px solid white;
    outline: 1px solid #028dfd;
    font-size: 1.1rem;
}

.img-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.logo-img {
    width: 30%;
    margin-top: 10px;
    margin-left: 20em;
}

.aside {
    position: absolute;
    right: 0;
    border-left: 5px solid #055de5;
    width: 25%;
    border-bottom: 5px solid #055de5;
    
}

.lifeline-container {
    display: flex;
    border-bottom: 1px solid #055de5;
}

.lifeline-img {
    border: 3px solid #055de5;
    border-radius: 50%;
    margin: 1em .2em;
}

.lifeline-img:hover {
    background-color: rgba(11, 91, 161, 0.452);
}

.lifeline-img>img {
    width: 50%;
    margin-left: 20px;
}

.lifeline-permission{
    display: none;
    position: absolute;
    top: -7em;
    left: -5em;
    background-color:#002069 ;
    color: white;
    padding: 4em;
    font-size: 1.8rem;
    width: 140%;
    border-radius: 50px;
    border: 5px solid white;
    transition: .7s;
}
#yes{
    padding: .3em;
    width: 15%;
    margin-right: 10%;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 10px;
    border: white;
}
#yes:hover{
   background-color:#7192df ;
   width: 25%;
   transition: 1s;
   color: white;
}
#no{
    padding: .3em;
    width: 15%;
    margin-right: 10%;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 10px;
    border: white;
}
#no:hover{
   background-color:#7192df ;
   width: 25%;
   transition: 1s;
   color: white;
}


.prize-15,
.prize-10,
.prize-05,
.prize-01 {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 1.2rem;
    margin-top: 10px;
    margin: 0 auto;
    border-radius: 20px;
    padding: .2em .2em;

}

.hover-white:hover {
    background-color: #fb9600;
    transition: .2s;

}

.prize-14,
.prize-13,
.prize-12,
.prize-11,
.prize-09,
.prize-08,
.prize-07,
.prize-06,
.prize-04,
.prize-03,
.prize-02 {
    color: #fb9600;
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 1.2rem;
    margin-top: 10px;
    margin: 0 auto;
    border-radius: 20px;
    padding: .2em .2em;

}

.hover:hover {
    background-color: #fb9600;
    transition: .2s;
    color: white;
}

.stop-watch {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 11em;
}

.stop-watch>p {
    background-color: red;
    padding: .5em;
    border-radius: 50%;
    margin: 2px;
}

.timer {
    padding: .5em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: yellow;
}

.show-correct {
    display: none;
    width: 90%;
    background-color: #186be7f6;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    color: rgb(47, 255, 75);
    border: 5px solid white;
    border-radius: 10px;
    outline: 5px solid blue;
    transition: .5s;

}

.show-wrong {
    display: none;
    width: 90%;
    background-color: #055de5;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    color: red;
    border: 5px solid white;
    border-radius: 10px;
    outline: 5px solid blue;
    transition: .5s;
}

.show-msg {
    position: absolute;
    left: 10px;
    width: 100%;
}

.start-again {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.exit {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.next {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.quit-game {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

#start {
    width: 10%;
    background-color: transparent;
    border: 2px solid white;
    padding: .4em;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin-top: 25px;
}
#start:hover{
    background-color: #012e99;
}

#quit {
    width: 10%;
    background-color: transparent;
    padding: .4em;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

#quit:hover{
    background-color: #012e99;
}
.start-game{
    position: relative;
}
.prize-money{
    color: white;
    background-color: transparent;
    width: 20%;
    padding: .5em;
    top: 4em;
    position: absolute;
    border: 2px solid white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 2rem;
} 
.prize-money:hover{
   background-color: #012e99;
}

.lifeline-choose{
    display: none;
    position: absolute;
    top: -7em;
    left: -5em;
    background-color:#002069 ;
    color: white;
    padding: 3em;
    font-size: 1.8rem;
    width: 140%;
    border-radius: 50px;
    border: 5px solid white;
    transition: .7s;
   
}
.lifeline-select{
    display: flex;
    border: 5px solid #055de5;
    border-radius: 10px;
    justify-content: space-around;
}
.fifty-fifty{
    border: 2px solid #055de5;
    margin: 2px;
}
.fifty-fifty:hover{
   background-color: black;
}
.flip{
    border: 2px solid #055de5;
    margin: 2px;
}
.flip:hover{
    background-color: black;
 }
.audience-poll{
    border: 2px solid #055de5;
    margin: 2px;
}
.audience-poll:hover{
    background-color: black;
 }