* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    position: relative;
}

.que-container {
    width: 67%;
    margin: 10px 50px;
    font-size: 2rem;
    color: white;
    border: 5px solid #028dfd;
    border-radius: 55px;
    padding: 1em;
    text-align: center;

}

.que-container:hover {
    background-color: #012e99;
}

.optionhover:hover {
    background-color: #012e99;
    transition: .2s;
}

.option-container {
    width: 50%;
    margin: 0 9em;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    position: relative;
}

.option {
    width: 270px;
    padding: .6em;
    border-radius: 55px;
    margin: 5px;
    text-align: center;
    color: white;
    /* background-color: #028dfd; */
    background-color: transparent;
    border: 2px solid white;
    outline: 1px solid #028dfd;
    font-size: 1.1rem;
}

.img-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.logo-img {
    width: 30%;
    margin-top: 10px;
    margin-left: 20em;
}

.aside {
    position: absolute;
    right: 0;
    border-left: 5px solid #055de5;
    width: 25%;
    border-bottom: 5px solid #055de5;
    margin-top: -4em;
}

.lifeline-container {
    display: flex;
    border-bottom: 1px solid #055de5;
}

.lifeline-img {
    border: 3px solid #055de5;
    border-radius: 25%;
    margin: 1em .2em;
    height: 10vh;
}

.lifeline-img:hover {
    background-color: rgba(11, 91, 161, 0.452);
}

.fiftyBtn {
    background-color: transparent;
    margin-top: .2em;
    width: 80%;
    margin-left: 12px;
    border-radius: 20px;
    border: none;

}

.fiftyBtn>img {
    width: 60%;

}

.flipBtn {
    background-color: transparent;
    margin-top: .2em;
    width: 80%;
    margin-left: 12px;
    border-radius: 20px;
    border: none;

}

.flipBtn>img {
    width: 60%;

}

.audienceBtn {
    background-color: transparent;
    margin-top: .5em;
    border: none;
    width: 80%;
    margin-left: 12px;
    border-radius: 20px;

}

.audienceBtn>img {
    width: 60%;

}

.lifeline-permission {
    display: none;
    position: absolute;
    top: -7em;
    left: -5em;
    background-color: #002069;
    color: white;
    padding: 3.8em;
    font-size: 1.8rem;
    width: 140%;
    border-radius: 50px;
    border: 5px solid white;
    transition: .7s;
}

#yes {
    padding: .3em;
    width: 15%;
    margin-right: 10%;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 10px;
    border: white;
}

#yes:hover {
    background-color: #7192df;
    transition: 1s;
    color: white;
}

#no {
    padding: .3em;
    width: 15%;
    margin-right: 10%;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 10px;
    border: white;
}

#no:hover {
    background-color: #7192df;

    transition: 1s;
    color: white;
}


.prize-15,
.prize-10,
.prize-05,
.prize-01 {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 1.2rem;
    margin-top: 10px;
    margin: 0 auto;
    border-radius: 20px;
    padding: .2em .2em;

}

.hover-white:hover {
    background-color: #fb9600;
    transition: .2s;

}

.prize-14,
.prize-13,
.prize-12,
.prize-11,
.prize-09,
.prize-08,
.prize-07,
.prize-06,
.prize-04,
.prize-03,
.prize-02 {
    color: #fb9600;
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 1.2rem;
    margin-top: 10px;
    margin: 0 auto;
    border-radius: 20px;
    padding: .2em .2em;

}

.hover:hover {
    background-color: #fb9600;
    transition: .2s;
    color: white;
}

.stop-watch {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 11em;
}

.stop-watch>p {
    background-color: red;
    padding: .8em;
    border-radius: 70%;
    margin: 2px;
}

.timer {
    padding: .5em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: yellow;
    min-width: 50px;
    min-height: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;

}

.show-correct {
    display: none;
    width: 90%;
    background-color: #186be7f6;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    color: rgb(47, 255, 75);
    border: 5px solid white;
    border-radius: 10px;
    outline: 5px solid blue;
    transition: .5s;

}

.show-wrong {
    display: none;
    width: 90%;
    background-color: #055de5;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    color: red;
    border: 5px solid white;
    border-radius: 10px;
    outline: 5px solid blue;
    transition: .5s;
}

.show-msg {
    position: absolute;
    left: 9px;
    width: 100%;
    top: -45px;
}

.start-again {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.exit {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.next {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.quit-game {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

#start {
    width: 10%;
    background-color: transparent;
    border: 2px solid white;
    padding: .4em;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

#start:hover {
    background-color: #012e99;
}

#quit {
    width: 10%;
    background-color: transparent;
    padding: .4em;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

.show-name {
    width: 20%;
    background-color: transparent;
    padding: .4em;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

#quit:hover {
    background-color: #012e99;
}

.start-game {
    position: relative;
}

.prize-money {
    color: white;
    background-color: transparent;
    width: 20%;
    padding: .5em;
    top: 4em;
    position: absolute;
    border: 2px solid white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 2rem;
}

.prize-money:hover {
    background-color: #012e99;
}

.lifeline-choose {
    display: none;
    position: absolute;
    top: -7em;
    left: -5em;
    background-color: #002069;
    color: white;
    padding: 3em;
    font-size: 1.8rem;
    width: 140%;
    border-radius: 50px;
    border: 5px solid white;
    transition: .7s;

}

.lifeline-select {
    display: flex;
    border: 5px solid #055de5;
    border-radius: 10px;
    justify-content: space-around;
}

.fifty-fifty {
    border: 2px solid #055de5;
    margin: 2px;
}

.fifty-fifty:hover {
    background-color: black;
}

.flip {
    border: 2px solid #055de5;
    margin: 2px;
}

.flip:hover {
    background-color: black;
}

.audience-poll {
    border: 2px solid #055de5;
    margin: 2px;
}

.audience-poll:hover {
    background-color: black;
}

.play {
    /* display: none; */
    position: absolute;
    top: -10em;
    left: -5em;
    background-color: #002069;
    color: white;
    padding: 3em;
    font-size: 1.8rem;
    width: 140%;
    border-radius: 50px;
    border: 5px solid white;
    transition: .7s;
    height: 60vh;
}

.start-quiz {
    width: 20%;
    background-color: transparent;
    padding: .4em;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.exit-quiz {
    width: 20%;
    background-color: transparent;
    padding: .4em;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}


.your-name {
    padding: .4em;
    border: none;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 10px;
    outline: none;
}

.won-prize {
    display: none;
    position: absolute;
    top: -5em;
    left: -5em;
    background-color: #002069;
    color: white;
    padding: 3em;
    font-size: 1.8rem;
    width: 140%;
    border-radius: 50px;
    border: 5px solid white;
    transition: .7s;
    height: 40vh;
}

.notChoose {
    display: none;
    position: absolute;
    top: -5.4em;
    left: -5em;
    background-color: #002069;
    color: white;
    padding: 3em;
    font-size: 1.8rem;
    width: 140%;
    border-radius: 50px;
    border: 5px solid white;
    transition: .7s;
    height: 40vh;
}

.start-again2 {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.logOut {
    width: 20%;
    padding: .5em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}

.audiencePoll-bar {
    position: absolute;
    min-width: 100%;
    border: 2px solid white;
    top: -15em;
    height: 20em;
    left: 5em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #002069;
    border-radius: 15px;
    display: none;

}


.audincePoll-1 {
    border: 2px solid white;
    width: 15%;
    height: 10em;
    bottom: 0;
    animation: animate1 1.1s linear 10;
    background-color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

.audincePoll-2 {
    border: 2px solid white;
    width: 15%;
    height: 10em;
    bottom: 0;
    animation: animate2 1s linear 10;
    background-color: green;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

.audincePoll-3 {
    border: 2px solid white;
    width: 15%;
    height: 10em;
    bottom: 0;
    animation: animate3 1.3s linear 10;
    background-color: yellow;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

.audincePoll-4 {
    border: 2px solid white;
    width: 15%;
    height: 10em;
    bottom: 0;
    animation: animate4 1.2s linear 10;
    background-color: orange;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

@keyframes animate1 {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }

}

@keyframes animate2 {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }

}

@keyframes animate3 {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }

}

@keyframes animate4 {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }

}

.goWithAudience {
    position: absolute;
    min-width: 100%;
    border: 2px solid white;
    top: -10em;
    height: 10em;
    left: 5em;
    background-color: #002069;
    border-radius: 15px;
    
    font-size: 1.2em;
    padding: 2em;

    display: none;
}

.goWithYes {
    padding: .3em;
    width: 15%;
    margin-right: 10%;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 10px;
    border: white;
}

.goWithYes:hover {
    background-color: #7192df;
    transition: 1s;
    color: white;
}

.gowithNo {
    padding: .3em;
    width: 15%;
    margin-right: 10%;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 10px;
    border: white;
}

.gowithNo:hover {
    background-color: #7192df;

    transition: 1s;
    color: white;
}
.option-span{
    color: #012e99;
}